
/*input[type=file]{*/
  /*padding:10px;*/
  /*background:pink;}*/
body{
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.student_image {
  margin-top: 50px;
  margin-left: -20px;
}
.teacher_details b {
  color: white;
  font-size: large;
}
.teacher_details {
    text-align: justify;
  border-radius: 20px 40px 0 40px;
  padding: 10px;
  background-color: #f33d03;
}
.teacher_profile img{
  border-radius: 50%;
}
.student_img_show img{
  max-width: 100%;
  overflow: hidden;
  height: 120px;
}
.border_bottom{
  margin-bottom: 7px;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}


label {
  color: #0b2290;
  font-weight: 600;
}

@media print {
  .hidden-print {
    display: none !important;
  }
  a.second_immi_a{
    font-weight: 600;
    text-decoration: none!important;
    color: #000000!important;
  }
  .printView h3{
    font-weight: 600;
    color: #000000!important;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
  }
  .i_float_left{
    font-weight: 600;
    padding: 0 20px;
    color: #000000!important;
    float: left;
  }
  .i_float_right{
    padding: 0 20px;
    color: red!important;
    float: right;
  }
  .i_float_right_b{
    font-weight: 600;
    padding: 0 50px;
    color: #000000!important;
    float: right;
  }
  h2.attendance_report{
    font-weight: 600;
    color: #000000!important;
  }
}
.i_float_left{
  color: transparent;
}
.i_float_right{
  color: transparent;
}
.i_float_right_b{
  color: transparent;
}
h2.attendance_report{
    margin: -10px;
  color: transparent;
}
.table-bordered td, .table-bordered th {
  font-weight: bold;
  color: #000;
  border: 1px solid #ebebeb;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
