
/*input[type=file]{*/
  /*padding:10px;*/
  /*background:pink;}*/

.student_image {
  margin-top: 50px;
  margin-left: -20px;
}
.teacher_details b {
  color: white;
  font-size: large;
}
.teacher_details {
    text-align: justify;
  border-radius: 20px 40px 0 40px;
  padding: 10px;
  background-color: #f33d03;
}
.teacher_profile img{
  border-radius: 50%;
}
.student_img_show img{
  max-width: 100%;
  overflow: hidden;
  height: 120px;
}
.border_bottom{
  margin-bottom: 7px;
  width: 100%;
  border-bottom: 2px solid lightgrey;
}


label {
  color: #0b2290;
  font-weight: 600;
}

@media print {
  .hidden-print {
    display: none !important;
  }
  .printView h3{
    color: #9E9E9E!important;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
  }
  .i_float_left{
    padding: 0 20px;
    color: #9E9E9E!important;
    float: left;
  }
  .i_float_right{
    padding: 0 20px;
    color: red!important;
    float: right;
  }
  .i_float_right_b{
    padding: 0 50px;
    color: #9E9E9E!important;
    float: right;
  }
  h2.attendance_report{
    color: #9E9E9E!important;
  }
}
.i_float_left{
  color: transparent;
}
.i_float_right{
  color: transparent;
}
.i_float_right_b{
  color: transparent;
}
h2.attendance_report{
    margin: -10px;
  color: transparent;
}
